CORS_ORIGIN = "http://localhost:3000"
# mongo:27017 mongo is mongo's docker container name
DB_CONNECTION_STRING = "mongodb://mongo:27017/youtube-clone-api"
PORT = 4000
JWT_SECRET = password
EXPIRES_IN = 7d
